.advantages {
  padding-top: 31px;
  padding-bottom: 29px;
}

.advantages__list {
  margin: 0;
  margin-top: 28px;
  padding: 0;
  list-style: none;
}

.advantages__item {
  margin-bottom: 32px;
  padding-top: 48px;
}

.advantages__description {
  margin: 0;
  font-family: 'OpenSans Bold', Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: @basic-black;
}
