.contacts {
  padding-top: 38px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding-top: 70px;
    padding-bottom: 56px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 26px;
    width: 1050px;
    min-height: 457px;
    position: relative;
  }
}

.contacts__title {
  font-size: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 19px;
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__flag {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 47px;
    right: 55px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    top: 133px;
    right: auto;
    left: 63px;
  }
}

.contacts__data {
  margin-top: 13px;
  margin-left: -3px;
  margin-bottom: 15px;

  tbody {
    @media (min-width: @tablet-width) {
      display: flex;
    }

    @media (min-width: @desktop-width) {
      flex-direction: column;
    }
  }

  tr:nth-of-type(odd) {
    @media (min-width: @tablet-width) {
      margin-right: 44px;
    }
  }

  td {
    padding-top: 12px;
    padding-bottom: 16px;
    min-width: 72px;
    vertical-align: top;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 173px;
  }
}

.contacts__mail {
  color: @basic-black;
  text-decoration: none;
  position: relative;

  &:hover {
    color: @special-link-mint;
  }

  &:active {
    color: @special-link-mint;
  }

  &::after {
    content: "";
    width: 179px;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 2px;
    background-color: @special-border-mint;

    @media (min-width: @tablet-width) {
      width: 204px;
      left: 0;
      bottom: -4px;
    }

    @media (min-width: @desktop-width) {
      width: 200px;
      bottom: -10px;
    }
  }
}

.contacts__map {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 62px;
  }
}

.contacts__wrapper {
  text-align: center;

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.contacts__write {
  margin: 0 auto;
  padding: 14px 0;

  @media (min-width: @tablet-width) {
    width: 229px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}
