.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
}

.contacts__title {
  font-size: 18px;
}

.contacts__data {
  margin-top: 27px;
  td {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.contacts__mail {
  color: @basic-black;
  text-decoration: none;

  &:hover {
    color: @special-link-mint;
  }

  &:active {
    color: @special-link-mint;
  }
}
