.features {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: calc(100% - 100px);
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.features__item {
  padding-left: 30px;
  padding-top: 26px;
  padding-bottom: 29px;
  position: relative;

  &--left {
    background-color: @basic-mint-light;
  }

  &--right {
    margin-top: -1px;
    background-color: @basic-mint;

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    width: 50%;
    padding-left: 35px;
  }
}

.features__title {
  margin: 0;
  max-width: 138px;
  line-height: 22px;
}

.features__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @basic-white;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.features__icon {
  position: absolute;
  fill: @special-mint-dark;

  &--left {
    width: 40.219px;
    height: 62.411px;
    top: 50%;
    right: 36px;
    transform: translateY(-48%);
  }

  &--right {
    width: 60px;
    height: 59.62px;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
  }
}
