.features {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: calc(100% - 100px);
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.features__item {
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 31px;

  &--left {
    background-color: @basic-mint-light;
  }

  &--right {
    margin-top: -1px;
    background-color: @basic-mint;

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.features__title {
  margin: 0;
}

.features__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @basic-white;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
