.page-footer {
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: @special-grey-footer;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.copyright__text {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 18px;
  color: @basic-black;
}
