.page-footer {
  padding-top: 26px;
  padding-bottom: 23px;
  background-color: @special-grey-footer;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  max-width: 1050px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.page-footer__logo {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-right: 72px;
  }
}
