.popup-body {
  border-top: 1px solid @border-grey;
  border-bottom: 1px solid @border-grey;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.popup-content__title {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 25px;
  color: @basic-black;
}

.size-form__label {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
}

.size-form__button {
  width: 260px;
  padding: 18px 0;
  background-color: @basic-mint-light;
  border: 2px solid @basic-mint-light;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  color: @basic-white;
  text-align: center;

  &:hover {
    border: 2px solid @basic-black-light;
  }

  &:active {
    border: 2px solid @basic-black-light;
  }
}
