.production {
  padding-top: 15px;
  padding-bottom: 58px;
  border: 1px solid @shadow-grey;
  box-sizing: border-box;
}

.production__title {
  padding-left: 91px;
  padding-bottom: 26px;
  font-family: 'OpenSans Bold', Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: @basic-black;
}

.production__text {
  margin-top: 35px;
  margin-bottom: 41px;
  padding-left: 34px;
  font-size: 13px;
  line-height: 24px;
}

.production__button {
  margin-left: 34px;
  width: 192px;
}
