@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.section-title {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
@media (min-width: 718px) {
  .section-title {
    margin-bottom: 37.5px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1050px) {
  .section-title {
    margin-bottom: 36.5px;
    font-size: 53px;
    line-height: 57px;
  }
}
.button {
  width: 260px;
  padding: 16px 0;
  border: 2px solid #444444;
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background: linear-gradient(0deg, #444444, #444444);
  color: #FFFFFF;
}
.button:active {
  background: linear-gradient(0deg, #444444, #444444);
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 718px) {
  .button {
    width: 292px;
  }
}
/* Temp */
.popup-order {
  display: none;
}
.advantages {
  padding-top: 31px;
}
@media (min-width: 718px) {
  .advantages {
    margin-bottom: 27px;
    padding-top: 56px;
  }
}
@media (min-width: 1050px) {
  .advantages {
    margin-bottom: 33px;
    padding-top: 68px;
    padding-left: 175px;
  }
}
.advantages__title {
  margin-bottom: 28px;
}
@media (min-width: 718px) {
  .advantages__title {
    margin-bottom: 44px;
  }
}
@media (min-width: 1050px) {
  .advantages__title {
    margin-bottom: 42px;
  }
}
.advantages__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 718px) {
  .advantages__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1050px) {
  .advantages__wrapper {
    grid-template-columns: 350px 1fr;
  }
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  margin-bottom: 29px;
  padding-top: 1px;
}
@media (min-width: 718px) {
  .advantages__item {
    margin-bottom: 54px;
  }
}
.advantages__icon {
  fill: #63D1BB;
}
.advantages__icon--flower {
  margin-left: 8px;
}
@media (min-width: 718px) {
  .advantages__icon--flower {
    margin-top: -3px;
    margin-bottom: 3px;
  }
}
.advantages__icon--money {
  margin-bottom: 11px;
}
.advantages__icon--heart {
  margin-top: 3px;
  margin-left: 8px;
  margin-bottom: 6px;
}
@media (min-width: 718px) {
  .advantages__icon--heart {
    margin-top: 8px;
  }
}
.advantages__icon--ball {
  margin-left: 3px;
  margin-bottom: 2px;
}
.advantages__icon--rocket {
  margin-top: 2px;
  margin-left: -5px;
  margin-bottom: 11px;
}
@media (min-width: 718px) {
  .advantages__icon--rocket {
    margin-top: 5px;
    margin-left: -6px;
    margin-bottom: 13px;
  }
}
.advantages__icon--gift {
  margin-left: 2px;
  margin-bottom: 6px;
}
.advantages__description {
  margin: 0;
  margin-top: 7px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
@media (min-width: 718px) {
  .advantages__description {
    font-size: 20px;
    line-height: 22px;
  }
}
.bestseller {
  padding-top: 31px;
  padding-bottom: 36px;
}
@media (min-width: 718px) {
  .bestseller {
    padding-top: 39px;
    padding-bottom: 52px;
    position: relative;
  }
}
@media (min-width: 1050px) {
  .bestseller {
    margin-bottom: 21px;
    padding-top: 114px;
  }
}
.bestseller-img {
  text-align: center;
  margin-bottom: 18px;
}
@media (min-width: 718px) {
  .bestseller-img {
    position: absolute;
    right: 2px;
    top: 139px;
  }
}
@media (min-width: 1050px) {
  .bestseller-img {
    right: 0;
    top: 54px;
    z-index: -1;
  }
}
.bestseller-img img {
  width: 260px;
  height: 315px;
}
@media (min-width: 718px) {
  .bestseller-img img {
    width: 333px;
    height: 404px;
  }
}
@media (min-width: 1050px) {
  .bestseller-img img {
    width: 525px;
    height: 636px;
  }
}
.bestseller-desc {
  margin-bottom: 28px;
}
@media (min-width: 718px) {
  .bestseller-desc {
    margin-bottom: 57px;
  }
}
@media (min-width: 1050px) {
  .bestseller-desc {
    margin-bottom: 109px;
    padding-left: 175px;
  }
}
.bestseller-desc__week {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #63D1BB;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 718px) {
  .bestseller-desc__week {
    position: absolute;
    top: 45px;
    right: 28px;
    line-height: 17px;
    text-align: center;
  }
}
@media (min-width: 1050px) {
  .bestseller-desc__week {
    right: auto;
    left: 46px;
    top: 122px;
  }
}
@media (max-width: 717px) {
  .bestseller-desc__week br {
    display: none;
  }
}
.bestseller-desc__text {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 21px;
  line-height: 24px;
}
@media (min-width: 718px) {
  .bestseller-desc__text {
    margin-bottom: 38px;
    font-size: 17px;
    line-height: 30px;
    width: 292px;
  }
}
@media (min-width: 1050px) {
  .bestseller-desc__text {
    margin-bottom: 48px;
  }
}
.bestseller-desc__stats {
  line-height: 20px;
  color: #444444;
  border-spacing: 0;
}
.bestseller-desc__stats td {
  padding-right: 27px;
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #ECECEC;
  vertical-align: middle;
}
@media (min-width: 718px) {
  .bestseller-desc__stats td {
    padding-right: 0;
    height: 41px;
  }
}
@media (min-width: 1050px) {
  .bestseller-desc__stats td {
    height: 42px;
  }
}
@media (min-width: 718px) {
  .bestseller-desc__stats {
    width: 292px;
  }
}
.bestseller-order {
  text-align: center;
}
@media (min-width: 718px) {
  .bestseller-order {
    text-align: left;
    max-width: 292px;
  }
}
@media (min-width: 1050px) {
  .bestseller-order {
    padding-left: 175px;
  }
}
.bestseller-order__price {
  margin-bottom: 24px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
}
@media (min-width: 718px) {
  .bestseller-order__price {
    margin-bottom: 32px;
    font-size: 20px;
  }
}
.bestseller-order__button {
  padding: 14px;
}
.copyright {
  padding-top: 22px;
}
@media (min-width: 718px) {
  .copyright {
    padding-top: 10px;
  }
}
.copyright__text {
  margin-right: 18px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}
.copyright__logo {
  vertical-align: middle;
  fill: #63D1BB;
}
.copyright__logo:hover {
  fill: #46C1AE;
}
.copyright__logo:active {
  fill: #46C1AE;
  opacity: 0.3;
}
.delivery {
  display: none;
  text-align: right;
  line-height: 24px;
}
@media (min-width: 718px) {
  .delivery {
    min-width: 260px;
    position: absolute;
    right: 52px;
    top: 108px;
    display: block;
  }
}
@media (min-width: 1050px) {
  .delivery {
    right: 1px;
    top: 109px;
  }
}
.extra-nav {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
}
@media (min-width: 1050px) {
  .extra-nav {
    position: absolute;
    top: 105px;
    left: 0;
    display: flex;
  }
}
@media (min-width: 1050px) {
  .extra-nav__item:not(:last-child) {
    margin-right: 62px;
  }
}
.extra-nav__item a {
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 718px) {
  .features {
    margin: 0 auto;
    width: calc(100% - 100px);
    display: flex;
  }
}
@media (min-width: 1050px) {
  .features {
    width: 1050px;
  }
}
.features__item {
  padding-left: 30px;
  padding-top: 26px;
  padding-bottom: 29px;
  position: relative;
}
.features__item--left {
  background-color: #63D1BB;
}
.features__item--right {
  margin-top: -1px;
  background-color: #56C3B2;
}
@media (min-width: 718px) {
  .features__item--right {
    margin-top: 0;
  }
}
@media (min-width: 718px) {
  .features__item {
    width: 50%;
    padding-left: 35px;
  }
}
.features__title {
  margin: 0;
  max-width: 138px;
  line-height: 22px;
}
.features__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
@media (min-width: 718px) {
  .features__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.features__icon {
  position: absolute;
  fill: #149080;
}
.features__icon--left {
  width: 40.219px;
  height: 62.411px;
  top: 50%;
  right: 36px;
  transform: translateY(-48%);
}
.features__icon--right {
  width: 60px;
  height: 59.62px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
.main-nav {
  width: 100%;
  min-height: 79px;
}
@media (min-width: 718px) {
  .main-nav {
    width: 350px;
    display: flex;
  }
}
@media (min-width: 1050px) {
  .main-nav {
    width: 100%;
    justify-content: space-between;
  }
}
.main-nav__toggle {
  width: 21px;
  height: 20px;
  position: absolute;
  top: -51px;
  right: 30px;
  display: block;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}
@media (min-width: 718px) {
  .main-nav__toggle {
    display: none;
  }
}
@media (max-width: 717px) {
  .main-nav--closed {
    position: absolute;
  }
}
@media (max-width: 717px) {
  .main-nav--closed .site-list__item,
  .main-nav--closed .user-list__item {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 14px;
  background-image: url("../img/icons/icon-menu-open.svg");
  background-repeat: no-repeat;
}
@media (max-width: 717px) {
  .main-nav--opened {
    position: relative;
  }
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 20px;
  background-image: url("../img/icons/icon-menu-close.svg");
  background-repeat: no-repeat;
}
@media (min-width: 718px) {
  .order-form {
    position: relative;
  }
}
@media (min-width: 718px) {
  .order-form--br {
    display: none;
  }
}
.order-form__container {
  padding: 0 30px;
}
@media (min-width: 718px) {
  .order-form__container {
    padding: 0 50px;
  }
}
@media (min-width: 1050px) {
  .order-form__container {
    margin: 0 auto;
    width: 1050px;
    padding: 0;
  }
}
.order-form__desc {
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
}
@media (min-width: 718px) {
  .order-form__desc {
    margin-bottom: 80px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1050px) {
  .order-form__desc {
    margin-left: auto;
    margin-right: auto;
    padding-left: 4px;
    width: 705px;
  }
}
.order-form__title {
  margin-bottom: 37px;
  display: block;
  position: relative;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63D1BB;
  text-transform: uppercase;
}
@media (max-width: 717px) {
  .order-form__title::after {
    content: "";
    width: 200px;
    height: 1px;
    background-color: #63D1BB;
    display: block;
    position: absolute;
    top: 8px;
    left: 60px;
  }
}
@media (min-width: 718px) {
  .order-form__title {
    margin-bottom: 0;
    flex-basis: 31%;
  }
}
@media (min-width: 1050px) {
  .order-form__title {
    flex-basis: 16%;
    padding-left: 60px;
  }
}
.order-form__title--color {
  margin-bottom: 35px;
}
@media (min-width: 1050px) {
  .order-form__title--color {
    padding-left: 60px;
    flex-basis: 16%;
  }
}
.order-form__title--info {
  margin-bottom: 29px;
}
@media (min-width: 718px) {
  .order-form__title--info {
    flex-basis: 25%;
  }
}
@media (min-width: 1050px) {
  .order-form__title--info {
    flex-basis: 11%;
  }
}
.order-form__title--tel {
  margin-bottom: 5px;
}
@media (min-width: 1050px) {
  .order-form__title--tel {
    flex-basis: 11%;
  }
}
.order-form__title--email {
  margin-bottom: 6px;
}
@media (max-width: 717px) {
  .order-form__title--email::after {
    width: 182px;
    left: 80px;
  }
}
@media (min-width: 1050px) {
  .order-form__title--email {
    flex-basis: 11%;
  }
}
.order-form__title--message {
  margin-bottom: 21px;
}
@media (min-width: 718px) {
  .order-form__title--message {
    flex-basis: 34%;
  }
}
@media (min-width: 1050px) {
  .order-form__title--message {
    flex-basis: 10.9%;
  }
}
.order-form__label {
  position: relative;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  color: #000000;
}
@media (min-width: 718px) {
  .order-form__label--type {
    margin-bottom: 28px;
  }
}
.order-form__label--color {
  margin-bottom: 15px;
}
@media (min-width: 718px) {
  .order-form__label--color {
    margin-bottom: 57px;
  }
}
@media (min-width: 718px) {
  .order-form__label--color:nth-of-type(even) {
    padding-left: 47px;
    box-sizing: border-box;
  }
}
@media (min-width: 1050px) {
  .order-form__label--color:nth-of-type(even) {
    padding-left: 0;
  }
}
.order-form__label--black {
  margin-bottom: 12px;
}
.order-form__label--name {
  margin-bottom: -7px;
}
@media (min-width: 718px) {
  .order-form__label--name {
    margin-bottom: 12px;
  }
}
.order-form__label--surname {
  margin-bottom: -7px;
}
@media (min-width: 718px) {
  .order-form__label--surname {
    margin-bottom: 10px;
  }
}
@media (min-width: 718px) {
  .order-form__label {
    font-size: 19px;
  }
}
@media (min-width: 1050px) {
  .order-form__label--mail {
    margin-top: -2px;
  }
}
.order-form__input {
  min-width: 256px;
  width: calc(100% - 30px);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 18px;
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  font-family: "OpenSans", "Arial", sans-serif;
}
@media (min-width: 718px) {
  .order-form__input {
    width: 100%;
  }
}
.order-form__input::-moz-placeholder {
  color: #000000;
  font-size: 19px;
  line-height: 18px;
  opacity: 0.3;
}
.order-form__input::placeholder {
  color: #000000;
  font-size: 19px;
  line-height: 18px;
  opacity: 0.3;
}
.order-form__input:focus::-moz-placeholder {
  color: #444444;
}
.order-form__input:focus::placeholder {
  color: #444444;
}
.order-form__input:hover {
  box-shadow: inset 0 -2px 0 #62D1BA;
}
.order-form__input:focus {
  box-shadow: inset 0 -2px 0 #62D1BA;
}
.order-form__input--message {
  padding-top: 16px;
  padding-bottom: 17px;
  min-height: 142px;
  min-width: 260px;
  box-sizing: border-box;
  border: 2px solid #444444;
  box-shadow: none;
}
.order-form__input--message::-moz-placeholder {
  font-size: 17px;
}
.order-form__input--message::placeholder {
  font-size: 17px;
}
@media (min-width: 718px) {
  .order-form__input--message {
    margin-top: -19px;
  }
}
@media (min-width: 1050px) {
  .order-form__input--message {
    width: 700px;
  }
}
.order-form__input--message:hover {
  border: 2px solid #62D1BA;
  box-shadow: none;
}
.order-form__input--message:focus {
  border: 2px solid #62D1BA;
  box-shadow: none;
}
.order-form__input--checkbox:checked + .order-form__input-checkbox {
  background-image: url("../img/icons/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 16px;
}
@media (min-width: 718px) {
  .order-form__input--checkbox:checked + .order-form__input-checkbox {
    background-size: 33px 22px;
  }
}
.order-form__input--radio {
  margin: 0;
  margin-right: -4px;
}
.order-form__input--radio:checked + .order-form__input-radio::after {
  content: "";
  width: 13.78px;
  height: 14.58px;
  display: block;
  position: absolute;
  top: 9px;
  left: 10px;
  background-color: #63D1BB;
  border-radius: 50%;
}
@media (min-width: 718px) {
  .order-form__input--radio:checked + .order-form__input-radio::after {
    width: 20px;
    height: 20px;
    top: 14px;
    left: 16px;
  }
}
.order-form__input--checkbox {
  margin: 0;
}
.order-form__input--text {
  margin-top: 7px;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 0;
}
.order-form__input--text::-moz-placeholder {
  font-size: 17px;
}
.order-form__input--text::placeholder {
  font-size: 17px;
}
@media (min-width: 718px) {
  .order-form__input--text::-moz-placeholder {
    font-size: 19px;
  }
  .order-form__input--text::placeholder {
    font-size: 19px;
  }
}
@media (min-width: 718px) {
  .order-form__input--text {
    margin-top: -10px;
    margin-left: 24px;
    padding-left: 18px;
  }
}
.order-form__input--tel {
  padding-left: 0;
}
@media (min-width: 718px) {
  .order-form__input--tel {
    margin-top: -14px;
    min-width: 500px;
    background-color: #F1F1F1;
  }
}
@media (min-width: 1050px) {
  .order-form__input--tel {
    min-width: 695px;
  }
}
@media (min-width: 718px) {
  .order-form__input--tel::-moz-placeholder {
    padding-left: 16px;
  }
  .order-form__input--tel::placeholder {
    padding-left: 16px;
  }
}
.order-form__input--email {
  padding-left: 0;
}
@media (min-width: 718px) {
  .order-form__input--email {
    margin-top: -15px;
    min-width: 500px;
    background-color: #F1F1F1;
  }
}
@media (min-width: 1050px) {
  .order-form__input--email {
    min-width: 695px;
  }
}
@media (min-width: 718px) {
  .order-form__input--email::-moz-placeholder {
    padding-left: 16px;
  }
  .order-form__input--email::placeholder {
    padding-left: 16px;
  }
}
.order-form__input--radio,
.order-form__input--checkbox {
  min-width: 0;
  width: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
}
.order-form__input-radio {
  width: 32.84px;
  height: 34px;
  border: 2px solid #444444;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -12px;
  left: -57px;
}
.order-form__input-radio:hover {
  border-color: #63D1BB;
}
.order-form__input-radio:active {
  border-color: #444444;
  opacity: 0.3;
}
@media (min-width: 718px) {
  .order-form__input-radio {
    width: 50px;
    height: 48px;
    top: -18px;
    left: -81px;
  }
}
.order-form__input-checkbox {
  width: 33.94px;
  height: 35px;
  border: 2px solid #444444;
  display: inline-block;
  position: absolute;
  top: -12px;
  left: -56px;
}
.order-form__input-checkbox:hover {
  border-color: #63D1BB;
}
.order-form__input-checkbox:active {
  border-color: #444444;
  opacity: 0.3;
}
@media (min-width: 718px) {
  .order-form__input-checkbox {
    width: 50px;
    height: 48px;
    top: -17px;
    left: -77px;
  }
}
@media (min-width: 1050px) {
  .order-form__input-checkbox {
    top: -18px;
  }
}
@media (min-width: 718px) {
  .order-form__label--color:nth-of-type(even) .order-form__input-checkbox {
    left: -28px;
  }
}
@media (min-width: 1050px) {
  .order-form__label--color:nth-of-type(even) .order-form__input-checkbox {
    left: -76px;
  }
}
.order-form__required {
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 718px) {
  .order-form__required {
    position: absolute;
    right: 52px;
    bottom: 12px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1050px) {
  .order-form__required {
    right: 224px;
    bottom: 10px;
  }
}
.order-form__button {
  margin-top: 25px;
  padding-bottom: 13px;
  background-color: #FFFFFF;
}
@media (min-width: 718px) {
  .order-form__button {
    margin-top: 53px;
    width: 230px;
  }
}
@media (min-width: 1050px) {
  .order-form__button {
    margin-top: 48px;
    margin-left: 176px;
  }
}
.order-form__wrapper {
  padding-left: 59px;
}
@media (min-width: 718px) {
  .order-form__wrapper {
    flex-basis: 70%;
  }
}
.order-form__wrapper--type {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1050px) {
  .order-form__wrapper--type {
    padding-left: 27px;
  }
}
.order-form__wrapper--color {
  margin-bottom: 27px;
  padding-left: 56px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 718px) {
  .order-form__wrapper--color {
    margin-bottom: 9px;
    flex-direction: row;
  }
}
@media (min-width: 1050px) {
  .order-form__wrapper--color {
    padding-left: 23px;
  }
}
.order-form__wrapper--info {
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 718px) {
  .order-form__wrapper--info {
    flex-basis: 75%;
  }
}
@media (min-width: 1050px) {
  .order-form__wrapper--info {
    margin-top: -2px;
    flex-basis: 66.5%;
  }
}
.order-form__type {
  margin-bottom: 39px;
}
@media (min-width: 718px) {
  .order-form__type {
    margin-bottom: 36px;
    align-items: baseline;
  }
}
@media (min-width: 718px) {
  .order-form__color {
    padding-top: 67px;
  }
}
@media (min-width: 718px) {
  .order-form__color .order-form__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 718px) {
  .order-form__color .order-form__label {
    width: 50%;
  }
}
@media (min-width: 1050px) {
  .order-form__color .order-form__label {
    width: 28%;
  }
}
@media (min-width: 1050px) {
  .order-form__color .order-form__label:not(:nth-of-type(3n)) {
    margin-right: 57px;
  }
}
@media (min-width: 718px) {
  .order-form__type,
  .order-form__info,
  .order-form__message {
    display: flex;
  }
}
.order-form__info {
  margin-bottom: 35px;
}
@media (min-width: 718px) {
  .order-form__info {
    margin-bottom: 50px;
    padding-top: 67px;
  }
}
@media (min-width: 718px) {
  .order-form__info .order-form__label {
    display: flex;
  }
}
@media (min-width: 718px) {
  .order-form__color,
  .order-form__tel,
  .order-form__email {
    background-color: #F1F1F1;
  }
}
@media (min-width: 718px) {
  .order-form__color .order-form__container,
  .order-form__tel .order-form__container,
  .order-form__email .order-form__container {
    display: flex;
  }
}
.order-form__tel {
  margin-bottom: 36px;
}
@media (min-width: 718px) {
  .order-form__tel .order-form__container {
    margin-bottom: 0;
  }
}
@media (min-width: 718px) {
  .order-form__tel {
    margin-bottom: 0;
    padding-top: 66px;
    padding-bottom: 42px;
  }
}
.order-form__email {
  margin-bottom: 35px;
}
@media (min-width: 718px) {
  .order-form__email {
    padding-bottom: 48px;
  }
}
@media (min-width: 1050px) {
  .order-form__email {
    margin-bottom: 37px;
  }
}
.order-form__phone {
  position: absolute;
  bottom: 0;
  right: 5px;
  opacity: 0.2;
}
@media (min-width: 718px) {
  .order-form__phone {
    bottom: 17px;
    right: 27px;
  }
}
@media (min-width: 1050px) {
  .order-form__phone {
    right: 6px;
  }
}
.order-form__mail-icon {
  position: absolute;
  bottom: -5px;
  right: 2px;
  opacity: 0.2;
}
@media (min-width: 718px) {
  .order-form__mail-icon {
    bottom: 11px;
    right: 24px;
  }
}
@media (min-width: 1050px) {
  .order-form__mail-icon {
    bottom: 9px;
    right: 2px;
  }
}
@media (min-width: 718px) {
  .order-form__message {
    padding-top: 34px;
  }
}
.order-form__input--tel:hover + .order-form__phone,
.order-form__input--tel:active + .order-form__phone,
.order-form__input--email:hover + .order-form__mail-icon,
.order-form__input--email:active + .order-form__mail-icon {
  fill: #63D1BB;
  opacity: 1;
}
.page-footer {
  padding-top: 26px;
  padding-bottom: 23px;
  background-color: #F1F1F1;
  text-align: center;
}
@media (min-width: 718px) {
  .page-footer {
    padding-top: 50px;
  }
}
.page-footer__wrapper {
  margin: 0 auto;
  max-width: 1050px;
}
@media (min-width: 718px) {
  .page-footer__wrapper {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1050px) {
  .page-footer__wrapper {
    padding: 0;
  }
}
@media (max-width: 717px) {
  .page-footer__logo {
    display: none;
  }
}
@media (min-width: 718px) {
  .page-footer__logo {
    margin-right: 72px;
  }
}
.page-header {
  width: 100%;
}
@media (max-width: 717px) {
  .page-header {
    position: relative;
  }
}
@media (min-width: 718px) {
  .page-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.page-header__wrapper {
  margin: 0 auto;
  max-width: 1050px;
  position: relative;
}
@media (min-width: 718px) {
  .page-header__wrapper {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1050px) {
  .page-header__wrapper {
    padding: 0;
  }
}
.page-header__logo {
  margin-left: -3px;
  padding-top: 22px;
  padding-bottom: 14px;
  box-shadow: 0 1px 0 #ECECEC, inset 0 1px 0 #ECECEC;
  display: flex;
  justify-content: center;
}
@media (min-width: 718px) {
  .page-header__logo {
    padding-bottom: 11px;
    justify-content: flex-start;
    box-shadow: none;
  }
}
@media (min-width: 1050px) {
  .page-header__logo {
    padding-top: 3px;
    padding-bottom: 0;
    position: absolute;
    left: 50%;
    top: 7px;
    transform: translate(-48%);
  }
}
.page-header__logo img {
  width: 86px;
  height: 35px;
}
@media (min-width: 718px) {
  .page-header__logo img {
    width: 113px;
    height: 46px;
  }
}
@media (min-width: 1050px) {
  .page-header__logo img {
    width: 149px;
    height: 72px;
  }
}
.page-main__wrapper {
  padding: 0 30px;
}
@media (min-width: 718px) {
  .page-main__wrapper {
    padding: 0 50px;
  }
}
@media (min-width: 1050px) {
  .page-main__wrapper {
    margin: 0 auto;
    width: 1050px;
    padding: 0;
  }
}
.page-main__img {
  height: 489px;
  background-image: url("../img/bg/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -16px;
  background-size: auto 373px;
  box-sizing: border-box;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .page-main__img {
    background-image: url("../img/bg/hero-mobile@2x.jpg");
  }
}
@media (min-width: 718px) {
  .page-main__img {
    height: 758px;
    position: relative;
    background-image: url("../img/bg/hero-tablet@1x.jpg");
    padding-top: 155px;
  }
  .page-main__img::after {
    content: "";
    height: 24px;
    width: 100%;
    position: absolute;
    bottom: 16px;
    background-image: url("../img/icons/bg-zigzag-fill.svg");
    background-position: center top;
    background-repeat: repeat-x;
  }
}
@media (min-width: 718px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 718px) and (min-resolution: 2dppx) {
  .page-main__img {
    background-image: url("../img/bg/hero-tablet@2x.jpg");
    background-size: cover;
  }
}
@media (min-width: 1050px) {
  .page-main__img {
    height: 763px;
    background-image: url("../img/bg/hero-desktop@1x.jpg");
    padding-top: 158px;
    z-index: -1;
  }
  .page-main__img::after {
    height: 34px;
    bottom: 16px;
  }
}
@media (min-width: 1050px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1050px) and (min-resolution: 2dppx) {
  .page-main__img {
    background-image: url("../img/bg/hero-desktop@2x.jpg");
    background-size: cover;
  }
}
.page-main__title {
  margin: 0;
  padding: 0 30px;
  padding-top: 73px;
  padding-bottom: 120px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  text-align: center;
}
@media (min-width: 718px) {
  .page-main__title {
    padding: 0 50px;
    padding-bottom: 371px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1050px) {
  .page-main__title {
    padding: 0;
    padding-bottom: 354px;
    font-size: 53px;
    line-height: 57px;
  }
}
.page-main__form {
  padding-top: 4px;
  padding-bottom: 55px;
}
@media (min-width: 718px) {
  .page-main__form {
    margin-top: 40px;
    padding-bottom: 49px;
  }
}
@media (min-width: 1050px) {
  .page-main__form {
    margin-top: 95px;
  }
}
.page-main__line {
  min-height: 7px;
  background-image: url("../img/icons/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: cover;
}
@media (min-width: 718px) {
  .page-main__line {
    height: 17px;
  }
}
@media (min-width: 1050px) {
  .page-main__line {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 23px;
  }
}
.popup-body {
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}
.popup-content__title {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 25px;
  color: #000000;
}
.production {
  margin-top: 15px;
  margin-bottom: 58px;
  padding-bottom: 32px;
  width: 260px;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  position: relative;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 718px) {
  .production {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 62px;
    padding-bottom: 45px;
    width: 668px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1050px) {
  .production {
    margin-bottom: 104px;
    width: 1050px;
    min-height: 456px;
  }
}
.production__icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 28px;
  left: 28px;
  fill: #63D1BB;
}
@media (min-width: 718px) {
  .production__icon {
    top: 488px;
    left: 40px;
  }
}
@media (min-width: 1050px) {
  .production__icon {
    top: 41px;
    left: 760px;
  }
}
.production__title {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 91px;
  padding-bottom: 26px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  order: -1;
}
@media (min-width: 718px) {
  .production__title {
    margin-top: 32px;
    padding-left: 106px;
    padding-bottom: 0;
    font-size: 20px;
    order: 0;
  }
}
@media (min-width: 1050px) {
  .production__title {
    margin-top: 96px;
    padding-left: 760px;
    max-width: 178px;
  }
}
.production__video {
  width: 260px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
}
@media (min-width: 718px) {
  .production__video {
    width: 668px;
    height: auto;
    order: -1;
  }
}
@media (min-width: 1050px) {
  .production__video {
    width: 682px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.production__link {
  width: 100px;
  height: 77px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 718px) {
  .production__link {
    top: 49%;
  }
}
.production__text {
  margin-top: 26px;
  margin-bottom: 41px;
  padding-left: 33px;
  padding-right: 32px;
  font-size: 13px;
  line-height: 24px;
}
@media (min-width: 718px) {
  .production__text {
    margin-top: 24px;
    padding-left: 38px;
    font-size: 15px;
    line-height: 30px;
  }
}
@media (min-width: 1050px) {
  .production__text {
    margin-top: 26px;
    margin-bottom: 52px;
    padding-left: 760px;
  }
}
.production__wrapper {
  display: flex;
  justify-content: center;
}
@media (min-width: 1050px) {
  .production__wrapper {
    margin-left: 761px;
    justify-content: flex-start;
  }
}
.production__button {
  width: 192px;
  font-size: 18px;
  line-height: 16px;
}
@media (min-width: 718px) {
  .production__button {
    width: 584px;
    font-size: 17px;
  }
}
@media (min-width: 1050px) {
  .production__button {
    width: 230px;
  }
}
.products {
  margin-bottom: 30px;
  padding-top: 30px;
}
@media (min-width: 718px) {
  .products {
    margin-bottom: 53px;
    padding-top: 57px;
  }
}
@media (min-width: 1050px) {
  .products {
    margin-bottom: 57px;
    padding-top: 128px;
  }
}
.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-row-gap: 30px;
  justify-content: center;
}
@media (min-width: 718px) {
  .products-list {
    grid-row-gap: 54px;
  }
}
@media (min-width: 1050px) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 52px;
  }
}
.reviews {
  padding-top: 29px;
  margin-bottom: 45px;
}
@media (min-width: 718px) {
  .reviews {
    margin-left: -50px;
    margin-bottom: 31px;
    padding-top: 83px;
    padding-left: 50px;
    padding-bottom: 45px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 458px;
  }
}
@media (min-width: 718px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 718px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../img/review@2x.jpg");
  }
}
@media (min-width: 1050px) {
  .reviews {
    max-width: 1050px;
    margin-left: 0;
    margin-bottom: 67px;
    padding-left: 175px;
    padding-top: 79px;
    padding-bottom: 56px;
  }
}
@media (min-width: 718px) {
  .reviews__wrapper {
    position: relative;
  }
}
@media (min-width: 718px) {
  .reviews__title {
    margin-bottom: 38.5px;
  }
}
@media (min-width: 1050px) {
  .reviews__title {
    margin-bottom: 36.5px;
  }
}
.reviews__list {
  margin-top: 14px;
}
.reviews__item {
  margin: 0;
  margin-bottom: 29px;
}
.reviews__text {
  margin: 0;
  margin-bottom: 30px;
}
@media (min-width: 718px) {
  .reviews__text {
    margin-bottom: 58px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1050px) {
  .reviews__text {
    margin-bottom: 41px;
    width: 100%;
  }
}
.reviews__author {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 718px) {
  .reviews__author {
    font-size: 18px;
  }
}
.reviews__author-profile {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
}
.reviews__toggles {
  margin-bottom: 38px;
}
.reviews__write {
  padding: 14px 0;
}
@media (min-width: 718px) {
  .reviews__write {
    width: 175px;
    position: absolute;
    top: -4px;
    right: 2px;
  }
}
@media (min-width: 1050px) {
  .reviews__write {
    top: 1px;
    right: 0;
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 718px) {
  .site-list {
    position: absolute;
    left: 49px;
    bottom: -72px;
    display: flex;
  }
}
@media (min-width: 1050px) {
  .site-list {
    position: initial;
  }
}
.site-list__item {
  padding: 28px 0 27px;
  padding-left: 76px;
  box-shadow: 0 1px 0 #ECECEC, inset 0 1px 0 #ECECEC;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.site-list__item a {
  color: #000000;
  text-decoration: none;
}
.site-list__item a:hover {
  opacity: 0.6;
}
.site-list__item a:active {
  opacity: 0.3;
}
@media (min-width: 718px) {
  .site-list__item:first-of-type {
    margin-right: 37px;
  }
}
@media (min-width: 1050px) {
  .site-list__item:first-of-type {
    margin-right: 0;
    padding-right: 35px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1050px) {
  .site-list__item:nth-of-type(2) {
    padding-left: 35px;
  }
}
@media (min-width: 718px) {
  .site-list__item {
    padding-left: 0;
    box-shadow: none;
    font-size: 15px;
  }
}
@media (min-width: 1050px) {
  .site-list__item {
    padding-top: 33px;
    padding-bottom: 31px;
    font-size: 17px;
  }
}
.size-form__label {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}
.size-form__button {
  width: 260px;
  padding: 18px 0;
  background-color: #63D1BB;
  border: 2px solid #63D1BB;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: center;
}
.size-form__button:hover {
  border: 2px solid #444444;
}
.size-form__button:active {
  border: 2px solid #444444;
}
.slider {
  position: relative;
}
.slider__toggle {
  width: 130px;
  height: 52px;
  border: 1px solid #ECECEC;
  background-color: #FFFFFF;
}
@media (min-width: 718px) {
  .slider__toggle {
    width: 90px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
  }
}
@media (min-width: 1050px) {
  .slider__toggle {
    bottom: 3px;
  }
}
@media (min-width: 718px) {
  .slider__toggle--prev {
    right: 88px;
  }
}
.slider__toggle--next {
  margin-left: -5px;
}
.social {
  padding: 0 30px;
  width: calc(100% - 60px);
}
@media (min-width: 718px) {
  .social {
    width: auto;
    flex-grow: 1;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
  list-style: none;
}
@media (max-width: 717px) {
  .social__list {
    border-bottom: 1px solid #E5E5E5;
  }
}
@media (min-width: 718px) {
  .social__list {
    padding-top: 7px;
    align-items: baseline;
  }
}
.social__item:not(:last-of-type) {
  margin-right: 41px;
}
.social__icon:hover {
  fill: #46C1AE;
}
.social__icon:active {
  fill: #46C1AE;
  opacity: 0.3;
}
.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 718px) {
  .user-list {
    display: flex;
  }
}
.user-list__item {
  padding: 28px 0 26px;
  padding-left: 76px;
  box-shadow: 0 1px 0 #ECECEC, inset 0 1px 0 #ECECEC;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.user-list__item a {
  color: #000000;
  text-decoration: none;
}
.user-list__item a:hover {
  opacity: 0.6;
}
.user-list__item a:active {
  opacity: 0.3;
}
@media (min-width: 718px) {
  .user-list__item {
    box-shadow: none;
    padding-left: 0;
    padding-top: 33px;
  }
}
@media (min-width: 1050px) {
  .user-list__item {
    padding-top: 31px;
  }
}
@media (min-width: 718px) {
  .user-list__item--form {
    width: 82px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.user-list__cart {
  margin-left: -46px;
}
@media (min-width: 718px) {
  .user-list__cart {
    margin-left: 0;
    padding-left: 32px;
  }
}
.user-list__cart--icon {
  fill: #000000;
  opacity: 0.2;
  margin-right: 20px;
  margin-top: 1px;
}
@media (min-width: 718px) {
  .user-list__cart--icon {
    margin-right: 26px;
  }
}
@media (min-width: 1050px) {
  .user-list__cart--icon {
    margin-right: 29px;
    margin-top: 2px;
  }
}
.user-list__cart:hover .user-list__cart--icon {
  fill: #63D1BB;
  opacity: 1;
}
.user-list__cart:active .user-list__cart--icon {
  fill: #63D1BB;
  opacity: 0.3;
}
.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
}
@media (min-width: 718px) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 56px;
    position: relative;
  }
}
@media (min-width: 1050px) {
  .contacts {
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 26px;
    width: 1050px;
    min-height: 457px;
    position: relative;
  }
}
.contacts__title {
  font-size: 18px;
}
@media (min-width: 718px) {
  .contacts__title {
    margin-bottom: 33px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1050px) {
  .contacts__title {
    margin-bottom: 19px;
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}
@media (max-width: 717px) {
  .contacts__flag {
    display: none;
  }
}
@media (min-width: 718px) {
  .contacts__flag {
    position: absolute;
    top: 47px;
    right: 55px;
    display: block;
  }
}
@media (min-width: 1050px) {
  .contacts__flag {
    top: 133px;
    right: auto;
    left: 63px;
  }
}
.contacts__data {
  margin-top: 13px;
  margin-left: -3px;
  margin-bottom: 15px;
}
@media (min-width: 718px) {
  .contacts__data tbody {
    display: flex;
  }
}
@media (min-width: 1050px) {
  .contacts__data tbody {
    flex-direction: column;
  }
}
@media (min-width: 718px) {
  .contacts__data tr:nth-of-type(odd) {
    margin-right: 44px;
  }
}
.contacts__data td {
  padding-top: 12px;
  padding-bottom: 16px;
  min-width: 72px;
  vertical-align: top;
}
@media (min-width: 718px) {
  .contacts__data {
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1050px) {
  .contacts__data {
    padding-left: 173px;
  }
}
.contacts__mail {
  color: #000000;
  text-decoration: none;
}
.contacts__mail:hover {
  color: #46C1AE;
}
.contacts__mail:active {
  color: #46C1AE;
}
.contacts__map {
  margin-bottom: 42px;
}
.contacts__map--wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  position: relative;
}
@media (min-width: 718px) {
  .contacts__map--wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
  }
}
@media (min-width: 1050px) {
  .contacts__map--wrapper {
    width: 527px;
  }
}
.contacts__map--img {
  width: 322px;
  height: 454px;
  display: flex;
  margin: 0 auto;
}
@media (min-width: 718px) {
  .contacts__map--img {
    width: 768px;
    height: 457px;
  }
}
@media (min-width: 1050px) {
  .contacts__map--img {
    width: 527px;
    height: 457px;
    position: absolute;
    top: -371px;
    right: -262px;
    display: block;
  }
}
.contacts__map--pin {
  position: absolute;
  top: 145px;
  left: 139px;
}
@media (min-width: 718px) {
  .contacts__map--pin {
    top: 138px;
    left: 364px;
  }
}
@media (min-width: 1050px) {
  .contacts__map--pin {
    left: auto;
    right: -40px;
    top: -225px;
  }
}
@media (min-width: 718px) {
  .contacts__map {
    margin-bottom: 56px;
  }
}
@media (min-width: 1050px) {
  .contacts__map {
    margin-bottom: 62px;
  }
}
.contacts__wrapper {
  text-align: center;
}
@media (min-width: 1050px) {
  .contacts__wrapper {
    text-align: left;
  }
}
.contacts__write {
  margin: 0 auto;
  padding: 14px 0;
}
@media (min-width: 718px) {
  .contacts__write {
    width: 229px;
  }
}
@media (min-width: 1050px) {
  .contacts__write {
    margin-left: 175px;
  }
}
.search-form {
  margin-left: -2px;
  display: flex;
}
@media (min-width: 718px) {
  .search-form {
    justify-content: center;
  }
}
.search-form:hover .search-form__icon {
  fill: #63D1BB;
  opacity: 1;
}
.search-form:active .search-form__icon {
  fill: #63D1BB;
  opacity: 0.3;
}
.search-form__icon {
  margin-left: -42px;
  margin-right: 24px;
  margin-top: 2px;
  fill: #000000;
  opacity: 0.2;
}
@media (min-width: 718px) {
  .search-form__icon {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1050px) {
  .search-form__icon {
    margin-top: 4px;
  }
}
@media (min-width: 718px) {
  .search-form__form {
    display: none;
  }
}
.search-form__input {
  margin-top: 2px;
  border: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
}
.search-form__input::-moz-placeholder {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
}
.search-form__input::placeholder {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
}
.search-form__input:hover::-moz-placeholder {
  opacity: 0.6;
}
.search-form__input:hover::placeholder {
  opacity: 0.6;
}
.search-form__input:focus::-moz-placeholder {
  opacity: 0.3;
}
.search-form__input:focus::placeholder {
  opacity: 0.3;
}
.catalog-title {
  margin: 0;
  padding: 0;
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: #F1F1F1;
}
@media (min-width: 718px) {
  .catalog-title {
    padding-top: 100px;
    padding-bottom: 96px;
    background-image: url("../img/icons/bg-zigzag-fill.svg");
    background-position: center 212px;
    background-repeat: repeat-x;
  }
}
@media (min-width: 1050px) {
  .catalog-title {
    background-position: center 236px;
  }
}
.card {
  width: 260px;
}
@media (min-width: 718px) {
  .card {
    width: 668px;
    display: flex;
  }
}
@media (min-width: 1050px) {
  .card {
    width: 316px;
    display: initial;
  }
}
.card__img {
  width: 260px;
  height: auto;
}
@media (min-width: 718px) {
  .card__img {
    width: 334px;
    height: 334px;
  }
}
@media (min-width: 1050px) {
  .card__img {
    width: 316px;
    height: auto;
  }
}
.card__img img {
  width: 100%;
  height: auto;
}
@media (min-width: 718px) {
  .card__img img {
    width: 334px;
  }
}
@media (min-width: 1050px) {
  .card__img img {
    width: 316px;
  }
}
.card__desc {
  margin-top: -10px;
  padding-top: 26px;
  padding-left: 28px;
  border: 1px solid #ECECEC;
}
.card__desc--long {
  padding-top: 22px;
}
@media (min-width: 1050px) {
  .card__desc--long {
    padding-top: 26px;
  }
}
@media (min-width: 1050px) {
  .card__desc--long .card__order {
    margin-top: 6px;
  }
}
@media (min-width: 718px) {
  .card__desc {
    margin-top: 0;
    padding-left: 30px;
    width: 50%;
    min-height: 334px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1050px) {
  .card__desc {
    margin-top: -10px;
    padding-left: 28px;
    width: 316px;
    min-height: 199px;
  }
}
@media (min-width: 718px) {
  .card__desc--wrapper {
    width: 260px;
    flex-grow: 1;
  }
}
.card__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.card__title--long {
  margin-top: -3px;
}
@media (min-width: 718px) {
  .card__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.card__desc-text {
  font-size: 13px;
}
@media (min-width: 718px) {
  .card__desc-text {
    font-size: 15px;
  }
}
.card__order {
  margin-top: 18px;
  margin-right: 28px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid #ECECEC;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 718px) {
  .card__order {
    padding-top: 24px;
  }
}
@media (min-width: 1050px) {
  .card__order {
    width: 260px;
  }
}
.card__price {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 718px) {
  .card__price {
    font-size: 17px;
  }
}
.card__cart {
  margin-top: -2px;
}
.card__cart--icon {
  margin-right: -1px;
  fill: #000000;
  opacity: 0.2;
}
@media (min-width: 718px) {
  .card__cart--icon {
    margin-right: 4px;
  }
}
.card__cart:hover .user-list__cart--icon {
  fill: #63D1BB;
  opacity: 1;
}
.card__cart:active .user-list__cart--icon {
  fill: #63D1BB;
  opacity: 0.3;
}
@media (min-width: 718px) {
  .card__cart {
    margin-top: -4px;
  }
}
.form-title {
  margin: 0;
  padding: 0;
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: #F1F1F1;
}
@media (min-width: 718px) {
  .form-title {
    padding-top: 100px;
    padding-bottom: 96px;
    background-image: url("../img/icons/bg-zigzag-fill.svg");
    background-position: center 212px;
    background-repeat: repeat-x;
  }
}
@media (min-width: 1050px) {
  .form-title {
    background-position: center 236px;
    padding-bottom: 97px;
  }
}

/*# sourceMappingURL=style.css.map */
